/* Extra CSS for laying out images and YouTube videos */

.topImg,iframe {
	display: block;
	margin-right: auto;
	margin-bottom: 3%;
	max-width: 100%;
}

.quote {
	font-size: 2em;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.5em;
}

p {
	line-height: 1.4em;
}

.teaser {
	display: inline-block;
	vertical-align: top;
}

.blog-name {
	color: black;
}

/* Styling for hover/tap tip */
.guide {
	color: white;
	margin-bottom: 0px;
	opacity: 0.5;
	position: absolute;
	bottom: 15px;
	left: 15px;
	background-color: rgba(0,0,0,0.8);
}

/* Transformation rules */
.capbox {
	padding: 0;
	overflow: hidden;
}

/* Full div images */
.inline {
	width: 100%;
	height: 100%;
}

/* Put translucent black shade behind hidden caption */
.cap {
	background-color: rgba(0,0,0,0.75);
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	text-shadow: #000 1px 1px 0;
	color: #ccc;
	padding: 20px 40px 20px 20px;
}

/* Center caption on image */
.cap p {
	position: relative;
	top: 30%;
	max-width: 100%;
	padding-right: 35px;
}

/*
Display caption if hovered or tapped */
/* .capbox:hover > .cap, .capbox:active > .cap { */
.visible, .capbox:hover > .cap, .capbox.hover > .cap, .capbox:active > .guide {
	display: block;
	opacity: 1.0;
}
/*
.capbox:hover > p, .capbox:active > p {
	margin-bottom: 10px;
}
*/
 /*
  * .capbox:hover > .guide, .capbox:active > .guide {
  */
.vanished, .capbox:hover > .guide, .capbox.hover > .guide, .capbox:active > .guide { 
	display: none;
}

/* Don't select image to save 
.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
*/
