/* Extra CSS for laying out images and YouTube videos */

.topImg,iframe {
	display: block;
	margin-right: auto;
	margin-bottom: 3%;
	max-width: 100%;
}

.quote {
	font-size: 2em;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.5em;
}

p {
	line-height: 1.4em;
}

.teaser {
	display: inline-block;
	vertical-align: top;
}

.blog-name {
	color: black;
}
