---
layout: page
title: Highlights
---

<!-- Loop through paginated posts -->
{% for post in site.posts %}
{% if post.hl != null %}
	<div class="teaserWrapper" style="max-width: 100%";>
	<div class="teaser" style="{% if post.image != null %}max-width: 75%;{% endif %}display: inline-block;margin-bottom: 5%;margin-top: 5%;margin-right: 5%">
		<h3><a href="{{ post.url }}"> {{ i }} {{ post.title }}</a></h3>
			<p class="author">
			<span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
			<div class="content">
				{{ post.content | split:'<!--break-->' | first }}
	</div>
	</p>
	</div>

	{% if post.image != null %}
	<div class="teaserImage" style="max-width: 20%;display: block;float: right;margin-bottom: 5%;margin-top: 5%;max-height: 100%;">
		<img src="../assets/{{ post.image }}">		
	</div>
	{% endif %}
	<hr style="max-width: 100%;clear: both;">
</div>
{% endif %}
{% endfor %}

