/* This design meets the challenge of laying out a page when you
 * don't know the exact dimensions through which the user will 
 * see your content. Old web design says to design for the 
 * desktop, but this is not reflective of 2015. Whenever I told 
 * someone to test my website, they immediately pulled out their
 * smartphone. 
 *
 * This design uses blocks of content that intelligently reflow 
 * and adjust based on the width of the screen being used. 
 * It works on the devices I used to test it. If you find a 
 * glaring flaw with the design, email me at 
 * kylebnazario+code@gmail.com and I'll take a look at it.
 */

body, html { /* Center content and prevent overflows */
	margin-top: 0px;
	max-width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: baseline;
	font-family: Helvetica, sans-serif;
	/*
	font-family: 'Open Sans', sans-serif;
	*/
}
html {
	background: -webkit-linear-gradient(white, #3D6E94);
	background: -o-linear-gradient(white, #3D6E94);
	background: -moz-linear-gradient(white, #3D6E94);
	background: linear-gradient(white, #91B4CF);
}

div {
	background-color: transparent;
}

/* Nice alternating pattern to delineate sections */
.light {
	/* background-color: white; */
}

.dark {
	/* background-color: #f2f2f2; */
}

#topwrapper {
	clear: both;
	margin-top: 0px;
}

#top {
	float: left;
}

/* Header bit for my name */
h1 {
	font-size: 3em;
	text-align: center;
	color: white;
	background-color: #5D8AAD;
	font-weight: normal;
	margin-top: 0px; /* Stop weird whitespace at top */
}
#name { /* Container div to keep name centered */
	width: 18em;
	margin-left: auto;
	margin-right: auto;
}

/* Used for the nav and subheads */
h2 {
	color: #3D6E94;
	font-weight: normal;
	font-size: 2em;
}
/* Highlight the subheads */
.subhead {
	/* background-color: #CE8B30; */
	display: inline;
}

/* Used for the desktop nav */
ul {
	font-size: 1.1em;
	list-style-type: none;
	text-align: right;
	padding-right: 5%;
	}
ul li a h2:hover { /* Some hyper-targeting for the nav */
	color: #CE8B30;
}
ul li a {
	text-decoration: none;
	font-weight: normal;
}
ul li a h2 {
	color: #3D6E94;
}

/* Horizontal nav for small screens */
#backupnav { 
	display: none; /* Hidden unless on a phone or something */
}

/* Hide mobile layout on desktop */
#mobileLogos {
	display: none;
}
	
img {
	max-width: 100%;
}
#me {
	max-width: 100%;
	max-height: 100%;
	}

/* Proper spacing for the about div */
#about {
	margin-top: 3%;
	clear: both;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	}
#about h2 {
	margin-bottom: 0%;
}

/* Responsive columns that reflow based on the viewer size. If 
 * you're on a wide desktop screen, they show multiple columns 
 * that are much easier to read. If you're on mobile, it's just 
 * one stack. */
#bio {
	-webkit-column-width: 250px; /* Chrome, Safari, Opera */
	-moz-column-width: 250px; /* Firefox */
	column-width: 250px;
	-webkit-column-gap: 2em;
	-moz-column-width: 2em;
	text-indent: 1em;
	padding-top: 1em;
}

/* Get in a standard serif font to make it easier to read. Also
 * provides a nice contrast against the subheads. Font size is 
 * bumped up to provide easier legibility, which is especially 
 * important on mobile. */
p {
	margin-top: 0px;
	/*
	font-family: "Times New Roman", serif;
	*/
	font-family: 'Merriweather', serif;
	font-size: 1em;
	line-height: 1.4em;
}

#previous {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}

/* Float my previous work next to the contact box. I like having
 * those two side by-side, so the box doesn't automatically reflow
 * based on screen size. Looks alright on mobile, so may as well
 * keep it. */
#work {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 55%;
	margin-bottom: 5%;
}

#contact {
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	width: 23%;
	border: 1% solid black;
}
#contact h2 {
	margin-bottom: 1%;
	font-size: 1.9em;
}

/* Extra code to center the mobile nav, which lives in a table */
table {
	margin-left: auto;
	margin-right: auto;
}

/* Change link color to match subheads */
a {
	color: #1F1F73;
}
/* Default visited color to help users */
a:visited {
	color: #551A8B;
}
a:hover {
	color: #CE8B30;
}

/* Separate styles for handling mobile or tablet views */
@media screen and (max-width: 950px) {
	body, html {
		font-family: Arial, Helvetica, sans-serif;
	}

	/* Thin fonts don't look good on small screens */
	h2 { font-weight: bold; }

	/* Hide desktop nav */
	#nav {
		clear: both;
		float: left;
		width: 100%;
		display: none;
	}
	/* Mobile nav, only shown on small screens */
	#backupnav {
		display: inline;
		clear: both;
		float: left;
		width: 90%;
		font-size: 1em;
		text-align: center;
		padding: 3% 5% 3% 5%;
		line-height: 2em;
	}
	#backupnav a {
		text-decoration: none;
	}

	#backupnav h2 { 
		display: inline;
		color: #3D6E94;
	}

	/* Show redesigned logo layout */
	#mobileLogos {
		display: block;
		margin-top: 7%;
		margin-bottom: 7%;
	}
	/* Hide desktop logos */
	#logos { 
		display: none;
	}

	/* Separate work and contact divs on mobile, screen is too
	 * narrow for them to be next to each other */
	#work {
		width: 90%;
		clear: both;
	}

	#contact {
		width: 90%;
		clear: both;
		float: left;
	}
}
