body, html {
	max-width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.light {
	background-color: white;
}

.dark {
	background-color: #f2f2f2;
}

#topwrapper {
	clear: both;
	margin-top: 0px;
}

#top {
	float: left;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	text-align: center;
	color: #9B0400;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	list-style-type: none;
	text-align: right;
	padding-right: 5%;
	}

#backupnav { /* Horizontal nav for small screens */
	display: none; /* Hidden unless on a phone or something */
}
	
@media screen and (max-width: 950px) {
	ul li {
		display: inline;
	}
	#nav {
		clear: both;
		float: left;
		width: 100%;
		display: none;
	}
	#backupnav {
		display: inline;
		clear: both;
		float: left;
		width: 90%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.1em;
		text-align: center;
		padding: 3% 5% 3% 5%;
		line-height: 2em;
	}

	h2 { 
		display: inline;
	}
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
#me {
	max-width: 100%;
	max-height: 100%;
	}

#about {
	margin-top: 3%;
	clear: both;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	}

#bio {
	-webkit-column-width: 250px; /* Chrome, Safari, Opera */
	-moz-column-width: 250px; /* Firefox */
	column-width: 250px;
	text-indent: 1em;
}

p {
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.job {
	margin: 1% 1% 1% 1%;
}

#previous {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}
#tn {
	height: 70px;
	width: auto;
}

#work {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 58%;
	margin-bottom: 5%;
}

#contact {
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	width: 20%;
	border: 1% solid black;
}
