html, body {
	max-width: 100%;
}

div {
	height: 100%;
	/* margin: 0px 0px 0px 0px; */
	max-width: 100%;
	max-height: 100%;
}

.light {
	background-color: white;
}

.dark {
	background-color: gray;
}

#topwrapper {
	clear: both;
	height: 600px;
	width: 100%;
}

#title {
	float: right;
	width: 40%;
	max-width: 40%;
	max-height: 200px;
	margin-bottom: 5vh;
	}
h1 {
	font-weight: bold;
	text-transform: uppercase;
	float: right;
	font-size: 4em;
	text-shadow: 2px 2px 2px gray;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 5%;
}

#top {
	/* padding: 10vh 10vw 10vh 0vw; */
	width: 60%;
	float: left;
}
#me {
	position: absolute;
	float: left;
	width: 60%;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
	clear: none;
}
#nav {
	float: right;
	width: 40%;
	height: 30vh;
	text-align: right;
	text-decoration: none;
}
ul {
	padding-top: 5%;
	padding-right: 5%;
	list-style-type: none;
}

#about {
	clear: both;
	}

#previous {
	clear: both;
	}

#work {
	float: left;
	}

#contact {
	float: left;
	clear: both;
	}

img {
	display: block;
}
