body, html { /* Center content and prevent overflows */
	margin-top: 0px;
	max-width: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: baseline;
}

.light {
	background-color: white;
}

.dark {
	background-color: #f2f2f2;
}

#topwrapper {
	clear: both;
	margin-top: 0px;
}

#top {
	float: left;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	text-align: center;
	color: white;
	background-color: #5D8AAD;
	font-weight: normal;
	margin-top: 0px; /* Stop weird whitespace at top */
}
#name {
	width: 18em;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #3D6E94;
}

ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	list-style-type: none;
	text-align: right;
	padding-right: 5%;
	}
ul li a h2:hover { /* Some hyper-targeting for the nav */
	color: #06263E;
}
ul li a {
	text-decoration: none;
}

#backupnav { /* Horizontal nav for small screens */
	display: none; /* Hidden unless on a phone or something */
}

#mobileLogos {
	display: none;
}
	
/* Code for handling mobile or tablet views */
@media screen and (max-width: 950px) {
	ul li {
		display: inline;
	}
	#nav {
		clear: both;
		float: left;
		width: 100%;
		display: none;
	}
	#backupnav {
		display: inline;
		clear: both;
		float: left;
		width: 90%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.1em;
		text-align: center;
		padding: 3% 5% 3% 5%;
		line-height: 2em;
	}
	#backupnav a {
		text-decoration: none;
	}

	#backupnav h2 { 
		display: inline;
	}

	#mobileLogos {
		display: block;
		margin-top: 7%;
		margin-bottom: 7%;
	}
	#logos {
		display: none;
	}
}

/* 
a {
	text-decoration: none;
	/* color: #346A84; */
	/* color: #1D81B2; 
	color: white;
	background-color: #8BB1CE;
}
a:hover {
	color: #0D4058;
}
a:visited {
	color: #46589C;
}
*/

img {
	max-width: 100%;
}
#me {
	max-width: 100%;
	max-height: 100%;
	}

#about {
	margin-top: 3%;
	clear: both;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	}
#about h2 {
	margin-bottom: 0%;
}

#bio {
	-webkit-column-width: 250px; /* Chrome, Safari, Opera */
	-moz-column-width: 250px; /* Firefox */
	column-width: 250px;
	-webkit-column-gap: 2em;
	-moz-column-width: 2em;
	text-indent: 1em;
	padding-top: 1em;
}

p {
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.job {
	margin: 1% 1% 1% 1%;
}

#previous {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
}
#tn {
	height: 70px;
	width: auto;
}

#work {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	width: 58%;
	margin-bottom: 5%;
}

#contact {
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	width: 20%;
	border: 1% solid black;
}
