$mobile: 768px;

blockquote p {
  margin-top: 2.5rem;

  &:first-child {
    margin-top: 0;
  }
}

iframe {
  margin-bottom: 2.5rem;
  max-width: 100%;
}

a.jumpy-link {
  margin-bottom: 2px;

  &:hover {
    margin-bottom: 0;
  }
}

:where(h2, h3, h4, h5, h6) {
  .icon-link {
    position: relative;

    &::after {
      content: '#';
      position: absolute;
      left: -1.25ch;
      top: 0;
      line-height: 1;
      opacity: 0;
      text-decoration: underline;

      @media screen and (max-width: $mobile) {
        & {
          top: -1.5ch;
          left: 0;
          opacity: 1;
          position: static;
          margin: 0 0.5ch;
        }
      }
    }
  }

  &:hover .icon-link::after {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a:hover {
    border-bottom: 0;
  }
}
