<footer>
  {% include footer-link.html
       href="mailto:kylebnazario+public@gmail.com"
       iconName="email"
       label="email"
  %}
  {% include footer-link.html
       href="https://www.facebook.com/knazario"
       iconName="thumb_up_alt"
       label="facebook"
  %}
  {% include footer-link.html
       href="https://twitter.com/kbn_au"
       iconName="group"
       label="twitter"
  %}
  {% include footer-link.html
       href="https://www.linkedin.com/in/kylenazario"
       iconName="domain"
       label="linkedin"
  %}
  {% include footer-link.html
       href="https://github.com/kyle-n"
       iconName="code"
       label="github"
  %}
</footer>