<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta content for Twitter cards. Requires a silly amount of conditional coding to accomodate regular pages and articles -->
  <meta name="twitter:site" content="@kbn_le">
  <meta name="twitter:creator" content="@kbn_le">

  {% if page.id %} <!-- Article -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
	{% else %} <!-- Other page -->
  		<meta name="twitter:card" content="I'm Kyle Nazario, and this is my work.">
		<meta name="twitter:title" content="{{ site.title }}">
		<meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

	{% if page.url %}
  		<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}

	{% if page.image %}
		<meta name="twitter:image:src" content="{{ site.url }}/blog/assets/{{ page.image }}">
	{% else %}
		<meta name="twitter:image:src" content="{{ site.url }}/blog/assets/me.png">
	{% endif %}

	<!-- Facebook Open Graph tags -->
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<meta property="og:image" content="{% if page.image %}{{ site.url }}/blog/assets/{{ page.image }}{% else %}{{ site.url }}/blog/assets/me.png{% endif %}">
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:locale" content="en_us">
	<meta property="fb:admins" content="1184042582">
	<meta property="fb:app_id" content="794821543963847">
	<meta property="article:author" content="https://www.facebook.com/knazario">

	<!-- Google+ Authorship -->
	<link rel="author" href="https://plus.google.com/+{{ site.author.google_plus }}">

	<!-- Verify ownership for Google -->
	<meta name="google-site-verification" content="7BZuK1NLTofVMDEGKKNH363-otClVY9i9DagltvLJRQ" />
  
	<!-- Google keywords -->
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}kyle nazario, journalist, auburn al, ledger-enquirer, technorms, the plainsman, writer{% endif %}">

	<!-- Title and description -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% if page.keywords %} | {{ page.keywords }}{% endif %}{% else %}{{ site.description }}{% endif %}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/layout4.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/blog/assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/blog/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/blog/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/blog/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/blog/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/blog/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/blog/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/blog/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/blog/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/blog/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/blog/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/blog/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/blog/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/blog/assets/favicon-16x16.png">
  <link rel="manifest" href="/blog/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/blog/assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
