<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{ site.email }}"
        ><i class="icon fa fa-envelope"></i
      ></a>
      <a
        aria-label="My LinkedIn"
        target="_blank"
        href="https://www.linkedin.com/in/{{ site.linkedin_username }}"
        ><i class="icon fa fa-linkedin-square" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Github"
        target="_blank"
        href="https://github.com/{{ site.github_username }}"
        ><i class="icon fa fa-github-alt" aria-hidden="true"></i
      ></a>
      <a
        aria-label="My Mastodon account"
        target="_blank"
        href="{{ site.mastodon_profile }}"
        ><i class="icon fa fa-mastodon" aria-hidden="true"></i
      ></a>
    </div>
    <div class="header-links"></div>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
