<header class="site-header">

  <div class="wrapper">

	<a class="site-title" id="title-of-site" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

		<!-- Top-level navigation -->
      <div class="trigger">
			<a class="page-link" href="{{ site.baseurl }}/">Home</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a class="page-link" href="{{ site.baseurl }}/blog/index.html">Archive</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a class="page-link" href="{{ site.baseurl }}/highlights.html">Highlights</a>
      </div>
    </nav>

  </div>

</header>
