<section class="portfolio-item">
  <div>
    <a href="https://dragoncollector.herokuapp.com" target="_blank">
      <h3>Dragon Collector</h3>
    </a>
    <p>Dragon Collector is a website for collecting and generating pixel art dragons.</p>
    <p><strong>Interesting problem</strong>: I had to figure out how to generate random shades of a specific color. Building my <a href="https://github.com/kyle-n/dragon-collector/blob/master/db-code/dragonlogic/colorGenerator.js" target="_blank">color generation algorithm</a> was a fascinating look into RGB and hex codes. I loved solving a problem that probably no one else has had to solve.</p>
    <p><strong>Tools</strong>: Angular 7, MongoDB, Mongoose, Express.js, Node, Angular Material, Passport.js, JWTs, bcrypt, RxJS</p>
  </div>
  <div>
    <img class="portfolio-item-image" src="../blog/assets/dragoncollector.png" alt="Dragon Collector, a Heroku-hosted app for breeding pixel art dragons.">
  </div>
</section>

<section class="portfolio-item">
  <div>
    <a href="http://backloggedapp.herokuapp.com" target="_blank">
      <h3>Backlogged</h3>
    </a>
    <p>Backlogged is a simple and clean Letterboxd for video games. Powered by the Giant Bomb API, it lets users track games they've played with lists and ratings.</p>
    <p><strong>Interesting problem</strong>: I created an <a href="https://github.com/kyle-n/backlogged/blob/master/backlogged-code/apiRoutes.js" target="_blank">API route</a> that would convert a list of game titles to an image for sharing on social media (<a href="/blog/assets/playedgames.png" target="_blank">example</a>). I loved figuring out how to lay out a block of text when you don't know how many items there are or how long those items will be. It was a great challenge to create the rules so that text block wouldn't just work, but look appealing (e.g. roughly equal height and width).</p>
    <p><strong>Tools</strong>: Angular 6, MongoDB, Mongoose, Express.js, Node, Passport.js, request-promise, JWTs</p>
  </div>
  <div>
    <img class="portfolio-item-image" src="../blog/assets/backlogged.png" alt="Backlogged, a Heroku-hosted app for tracking played games">
  </div>
</section>

<section class="portfolio-item">
  <div>
    <a href="http://playnext.herokuapp.com" target="_blank">
      <h3>What Should I Play Next?</h3>
    </a>
    <p>What Should I Play Next is a client-side Angular app for finding new games to play based on their ratings. It uses the Giant Bomb API as well.</p>
    <p><strong>Interesting problem</strong>: I had to understand the minute details of the API in order to get the data I wanted (review scores sorted by platform), which was not supported. It was a great learning experience to figure out how to take the data I could get and make it into the data I couldn't get (repeated requests to get reviews while filtering by platform).</p>
    <p><strong>Tools</strong>: Angular 6, Express.js, Node</p>
  </div>
  <div>
    <img class="portfolio-item-image" src="../blog/assets/playnext.png" alt="What Should I Play Next, an Angular app for finding top-rated games.">
  </div>
</section>
