<section class="portfolio-item">
  <div>
    <a href="http://backloggedapp.herokuapp.com" target="_blank">
      <h3>Backlogged</h3>
    </a>
    <p>Backlogged is a simple and clean Letterboxd for video games. Powered by the Giant Bomb API, it lets users track games they've played with lists and ratings.</p>
    <p><strong>Tools</strong>: MongoDB, Mongoose, Express, Angular 6, Node.js, Passport.js, request-promise, JSON Web Tokens</p>
  </div>
  <div>
    <img class="portfolio-item-image" src="../blog/assets/backlogged.png" alt="Backlogged, a Heroku-hosted app for tracking played games">
  </div>
</section>

<section class="portfolio-item">
  <div>
    <a href="http://playnext.herokuapp.com" target="_blank">
      <h3>What Should I Play Next?</h3>
    </a>
    <p>What Should I Play Next is a client-side Angular app for finding new games to play based on their ratings. It uses the Giant Bomb API as well.</p>
    <p><strong>Tools</strong>: Angular 6, Express, Node.js</p>
  </div>
  <div>
    <img class="portfolio-item-image" src="../blog/assets/playnext.png" alt="What Should I Play Next, an Angular app for finding top-rated games.">
  </div>
</section>