<br>
<div class="teasers" style="max-width: 100%";>

	<div class="teaser">
		{% if post.image != null %}
			<img src="{{ site.url }}/blog/assets/{{ post.image }}" alt="{{ post.title }}"
				width="100%">
		{% else %}
			<img src="/blog/assets/placeholder.jpg" alt="{{ post.title }}">
		{% endif %}
		<div>
			<h3 class="teaser-title">
				<span style="background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.8);">
					<a href="{{ post.url }}" style="text-decoration: none; color: white;">
						{{ post.title }}</a>
				</span>
	 		</h3>
			</div>
	</div>
	
</div>
