---
---
@charset "utf-8";

// color and layout
$bg-color: rgb(255, 255, 255);
$card-bg-color: rgb(62, 57, 227);
$light-card-bg-color: rgb(245, 245, 245);
$color: black;
$card-color: white;
$secondary-color: rgb(64, 64, 64);
$secondary-card-color: rgb(186, 214, 255);
$header-font-size: 4rem;
$subhead-font-size: 2rem;
$spacing: 1.5rem;
$border-radius: 20px;

// screens
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@import "base", "header", "misc", "footer", "homepage";
