---
---

.space-apart {
  display: flex;
  justify-content: space-between;
}

.horizontal-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  background-color: #424242;
  color: #F6F5F7;
}
