@font-face {
  font-family: 'Liberation Sans';
  src: url('/static/fonts/liberationsans_regular_macroman/LiberationSans-Regular-webfont.eot');
  src: url('/static/fonts/liberationsans_regular_macroman/LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/liberationsans_regular_macroman/LiberationSans-Regular-webfont.woff') format('woff'),
       url('/static/fonts/liberationsans_regular_macroman/LiberationSans-Regular-webfont.ttf')  format('truetype'),
       url('/static/fonts/liberationsans_regular_macroman/LiberationSans-Regular-webfont.svg#svgFontName') format('svg');
}

body {
  color: $color;
  background-color: $bg-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Liberation Sans', Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0.005em;
  line-height: 35px;
  max-width: 100%;
  padding: 1rem;
}

p {
  padding-bottom: 5px;
}

a {
  color: $color;

  &.link-with-icon {
    text-decoration: none;
  }

  span {
    text-decoration: underline;
  }
}

.space-apart {
  display: flex;
  justify-content: space-between;
}

.link-container {
  border-radius: $border-radius;
  background: #424242;
  box-shadow:  5px 5px 15px green;
  padding: 1rem 2rem;
}

.subhead {
  color: $secondary-color;
  font-size: $subhead-font-size;
}

.link-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: $spacing / 2;
  }
}

img {
  max-width: 100%;
}

ul {
  padding: 0 0 0 1em;
  list-style-type: circle;

  li {
    margin-bottom: $spacing;
  }
}

.card {
  background-color: $card-bg-color;
  border-radius: $border-radius;
  box-shadow:  5px 5px 15px $light-card-shadow;
  padding: $spacing (2 * $spacing);

  &.light-bg {
    background-color: $light-card-bg-color;
  }
  &:not(.light-bg) {
    color: $card-color;
    .subhead {
      color: $secondary-card-color;
    }
    a {
      color: $card-color;
    }
  }
}

.sm-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  div {
    width: 100%;
    border-bottom: 1px solid $light-card-shadow;

    &:last-child {
      border-bottom: none;
    }

    @media screen and (min-width: $sm) {
      margin-right: $spacing;
      margin-bottom: 0;
      border-right: 1px solid $light-card-shadow;
      border-bottom: 0;
      width: 30%;
      &:last-child {
        margin-right: 0;
        border-right: none;
      }
    }
  }
}

main {
  max-width: $page-width;
  margin: 0 auto;
  //border: 1px solid purple;
}

article {
  margin-top: $spacing * 2;
}

div.highlight {
  overflow: scroll;
  background-color: $light-card-bg-color;
}
