// Formatting for whole page
html {
	font-family: $base-font-family;
	font-size: $base-font-size;
	text-color: $text-color;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

// Remove link underlines and boldface them
a {
	text-decoration: none;
	font-weight: bold;
}

//Larger site title
.site-title {
	font-size: 2.5 * $base-font-size;
	display:inline-block;
	float: left;
	clear: left;
}

//Nav spacing
nav {
	margin: 1em 0em 1em 0em;
	display: inline-block;
	float: right;
	clear: left;
}

//Prevent post title from jumping up
.post-title {
	display: block;
	clear: both;
}

//Limit img size for mobile
img {
	max-width: 90%;
}

//Small contact icons
.icon {
	> svg {
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;

		path {
			fill: $grey-color;
		}
	}
}

//Increase contact spacing
.contact-link {
	margin: 0em 1em 0em 0em;
	display: inline-block;
}

//Format teasers
.teaser {
	max-width: 100%;
	position: relative;
	max-height: 22em;
	overflow: hidden;
}
.teaser-title {
	position: absolute;
	bottom: -5%;
	max-width: 60%;
	padding: 0.1em 0.5em 0.1em 0.5em;
	font-size: $base-font-size;
}

//Desktop formatting
@media screen and (min-width: 700px) {
	html {
		max-width: 700px;
	}
	.teaser-title {
		font-size: 2em;
	}
}
