header {
  padding-top: $spacing;
  flex-wrap: wrap;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    div#header-container {
      width: max-content;
      a.link-with-icon {
        width: 100%;
        display: flex;
        justify-content: center;
        i {
          font-size: $header-font-size;
        }
        h1 {
          font-size: $header-font-size;
        }
      }
    }
  }
}
