#homepage {

  section {
    margin-bottom: $spacing * 3;

    &.card {
      max-width: $page-width * 0.75;
      margin-left: auto;
      margin-right: auto;
    }
  }

  #intro-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: $page-width;

    div {
      flex-grow: 1;
    }

    h1 {
      font-size: $header-font-size;
      margin: 0;
    }
    p.subhead {
      margin: 0;
    }

  }

}