/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

/* Contact information, right block */
.footer-col-2 {
    // width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    // width:         calc(20% - (#{$spacing-unit} / 2));
	 width: 35%;
	 display: inline-block;
	 float: right;
}
.footer-col-2 td {
	padding-right: 1em;
}

/* Site description, left block */
.footer-col-3 {
    // width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    // width:         calc(75% - (#{$spacing-unit} / 2));
	 // margin-left: 3%;
	 width: 60%;
	 display: inline-block;
	 float: left;
}

#mobileContact {
	display: none;
}

/* Shorter box for side-by-side on desktop */
@include media-query($on-palm) {
	.footer-col-3, .footer-col-2 {
		width: 100%;
		clear: both;
		margin-bottom: 0;
	}
	#mobileContact {
		display: block;
		margin: 0 -3% 0 -3%;
	}
	#desktopContact {
		display: none;
	}
	#mobileContact ul li {
		display: inline;
		padding: 0.2em;
	}
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-content p {
	 line-height: $base-line-height * 1.1;
}

/* Div layouts for teaser blocks */
.teaserWrapper {
	display: inline-block;
	margin: 0 5% 3% 5%;
	max-width: 100%;

	@include media-query($on-palm) {
		max-width: 100%;
		margin: 0 1% 3% 1%;
	}
}

.teaserWrapper h4 {
	@include media-query($on-palm) {
		font-size: 26px;
	}
}

/* Move image to right on desktop */
.teaserImage {
	max-width: 20%;
	display: block;
	float: right;
	margin-bottom: 5%;
	margin-top: 5%;
	max-height: 100%;
	
	@include media-query($on-palm) {
		max-width: 100%;
		float: left;
		clear: both;
		margin-top: 1%;
	}
}

/* Limit title width */
.teaserTitle, .descrip {
	max-width: 75%;
	display: block;
	float: left;
	margin-top: 0;
	clear: left;

	@include media-query($on-palm) {
		max-width: 100%;
		display: block;
		clear: both;
	}
}

/* descrip */

.imgLeft, .imgRight, .imgMiddle {
	max-width: 40%;
}

.imgLeft {
	display: inline-block;
	float: left;
	margin: 2% 2% 2% 0%;

	@include media-query($on-palm) {
		display: block;
		clear: both;
		max-width: 100%;
		margin-top: 0%;
		margin-bottom: 3%;
		}
}

.imgRight {
	display: inline-block;
	float: right;
	position: relative;
	top: 0;
	margin: 2% 3% 2% 2%;

	@include media-query($on-palm) {
		display: block;
		clear: both;
		max-width: 100%;
		margin-top: 0%;
		margin-bottom: 3%;
		margin-right: 0%;
		}
}

.imgMiddle {
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;

	@include media-query($on-palm) {
		display: block;
		clear: both;
		max-width: 100%;
		margin-top: 0%;
		margin-bottom: 3%;
		}
}

.imgFullMiddle {
	display: block;
	width: 100%;

	@include media-query($on-palm) {
		display: block;
		clear: both;
		width: 100%;
		margin-top: 0%;
		margin-bottom: 3%;
		}
}

//Narrow the desktop layout
.article-text {
	max-width: 85%;
	margin-right: auto;
	margin-left: auto;

	@include media-query($on-palm) {
		max-width: 97.5%;
		}
	}

//Image caption layout
.cap {
	display: block;
	width: 100%;
	color: $grey-color;
}
.cap p {
	padding: 2% 1% 3% 1%;
	font-size: $small-font-size;
}

//Style footnotes
.footnotes ol li {
	color: $grey-color;
	font-size: $small-font-size;
}

sup {
	font-size: 0.9em;
}

// Add brackets for easier tapping footnotes
sup a:before {
	content: "(";
}
sup a:after {
	content: ")";
}
