---
layout: page
title: Archive
outlet: true;
---

  <!-- Links to outlet pages -->
  <p style="text-align: center;"><a href="/blog/ledger.html">Ledger-Enquirer</a> &nbsp;|&nbsp; <a href="/blog/plainsman.html">The Plainsman</a> &nbsp;|&nbsp; <a href="/blog/fph.html">Free Press Houston</a> &nbsp;|&nbsp; <a href="/blog/tn.html">TechNorms</a></p>

<!-- Loop through paginated posts -->
{% for post in paginator.posts %}

{% include teasers %}

{% endfor %}

<br>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a> &nbsp;|&nbsp; 
  {% else %}
    <span class="next ">Next</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
			<em>{{ page}}</em>
		{% elsif page == 1 %}
			<a href="{{ site.url }}/blog/index.html">{{ page }}</a>
		{% else %}
			<a href="{{ site.paginate_path | prepend: site.url | replace: '//','/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
</div>
