<!DOCTYPE html>
<html>

  {% include head.html %}

<!-- Set animation length for fade in -->
<style>
	#pageContent {
		-webkit-animation-duration: 1s;
			-moz-animation-duration: 1s;
				  animation-duration: 1s;
	}
</style>

<!-- For hiding footnotes -->
<script> 

function toggle(displayState) {
	var elements = document.getElementsByClassName('footnoting')
	var showing = false;
	for (var i = 0; i < elements.length; i++) {
		if (elements[i].style.display == 'inline') {
			showing = true;
			elements[i].style.display = displayState;
			elements[i].style.className = "footnoting animated fadeIn";
		}
	}
}

function hideDiv() {
}

</script>

  <body onclick="hideDiv()" >

    {% include header.html %}

    <div id="pageContent" class="animated fadeIn page-content">
      <div class="wrapper">
        {{ content }}

      </div>
    </div>

    {% include footer.html %}

  {% include google_analytics.html %}

  </body>

</html>
