<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="pageContent" class="page-content">
      <div class="wrapper">
        {{ content }}

      </div>
    </div>

    {% include footer.html %}

  {% include google_analytics.html %}

  </body>

  <!-- Import jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- For footnotes and dark mode -->
  <script src="/siteUI.js"></script>

</html>
