<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

    {% include header.html %}

    <div id="pageContent" class="animated fadeIn page-content">
      <div class="wrapper">
        {{ content }}

      </div>
    </div>

    {% include footer.html %}

  {% include google_analytics.html %}

  </body>

  <!-- Import jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- For footnotes -->
  <script>
	
	//Show and hide footnotes when the button is clicked
	function main() {
		//Can't use toggle because need span to render as block
		var visible = false;
		$('.fn_button').on('click', function() {
			$fn = $(this).next();
			if (visible) {
				$fn.fadeOut();
				visible = false;
			}
			else {
				$fn.fadeIn();
				$fn.css('display', 'block');
				visible = true;
			}
		});

		//isNight=false; _ga=GA1.1.868655742.1522355517; _gat=1; _gid=GA1.1.1879936712.1522355517; isNight=true
		//Parse night mode from cookie
		function checkCookieValue(key, value) {
			var answer = false;
			var c = document.cookie;
			var cookieData = c.split(';');
			var cookiePairs = [];
			for (var i = 0; i < cookieData.length; i++) {
				cookiePairs[i] = cookieData[i].split('=');
			}
			for (var i = 0; i < cookiePairs.length; i++) {
				if (cookiePairs[i][0] === key && cookiePairs[i][1] === value) {
					answer = true;
					break;
				}
			}
			return answer;
		}

		//Set value of cookie
		function setCookie(key, value) {
			var result = '';
			var c = document.cookie;
			var cookieData = c.split(';');
			var cookiePairs = [];
			for (var i = 0; i < cookieData.length; i++) {
				cookiePairs[i] = cookieData[i].split('=');
			}
			var preexisting = false;
			for (var i = 0; i < cookiePairs.length; i++) {
				if (cookiePairs[i][0] === key) {
					cookiePairs[i][1] = value;
					preexisting = true;
					break;
				}
				result += cookiePairs[i][0] + '=' + cookiePairs[i][1] + '; ';
			}
			if (preexisting) {
				result = result.slice(0, result.length - 2);
			}
			else {
				result += key + '=' + value;
			}

			return result;
		}

		//Night mode toggle
		var isNight = checkCookieValue('isNight', 'true');

		if (isNight) {
			$('html').css('color', 'white');
			$('html').css('background-color', 'black');
			$('#nightmode').html('&#9728;');
		}

		$('#nightmode').on('click', () => {
			if (isNight) {
				$('html').css('color', '#111');
				$('html').css('background-color', '#fffff0');
				$('#nightmode').html('&#9790;');
				isNight = false;
				setCookie('isNight', 'false');
			}
			else {
				$('html').css('color', 'white');
				$('html').css('background-color', 'black');
				$('#nightmode').html('&#9728;');
				isNight = true;
				setCookie('isNight', 'true');
			}
		});
	}
	$(document).ready(main);

  </script>

</html>
