/* Clean, simple layout for reading basic stories with images 
 * that I've written. */

img,iframe {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: #3D6E94;
	/*
	font-family: Arial, Helvetica, sans-serif;	
	*/
	font-family: 'Open Sans', sans-serif;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: normal;
}

p {
	font-size: 1em;
	/* 
	font-family: "Times New Roman", serif;
	*/
	font-family: 'Merriweather', serif;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.4em;
}

.wrapper {
	margin-bottom: 5%;
}

/* Change link color to match subheads */
a {
	color: #1F1F73;
}
/* Default visited color to help users */
a:visited {
	color: #551A8B;
}
a:hover {
	color: #CE8B30;
}

h2 {
	font-weight: normal;
	color: #3D6E94;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;
	font-family: Arial, Helvetica, sans-serif;
}

.quote {
	font-size: 2em;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.5em;
	color: #3D6E94;
}

/* Mobile and tablet formatting */
@media screen and (max-width: 950px) {
	/* No image margins on the small screen */
	img {
		width: 100%;
	}

	/* Bold fonts for mobile */
	h2 {
		font-weight: bold;
	}
	h1 {
		font-weight: bold;
		letter-spacing: 0.01em;
	}
}
